<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us</title>
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JS (requires Popper) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary"data-bs-theme="dark">
      <div class="container-fluid" >
        <a class="navbar-brand" href="#" style="font-weight: bold;font-size: 35px;margin-left: 20px;"><img src="../static/image/logo.png" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="margin-left: 600px;font-size: large;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" style="margin-left: 100px;font-size: large;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/predict" style="margin-left: 100px;font-size: large;">Predict</a>
            </li>
            <li class="nav-item"></li>
              <a class="nav-link" href="/contact" style="margin-left: 100px;font-size: large;">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="card text-bg-dark">
        <img src="../static/image/bradcam.png" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h3 style="margin-left: 100px;
            margin-top: 150px;
            font-size: 50px;
            font-weight: bolder;">About Us</h3>
        </div>
      </div>
    
    <!-- welcome_clicnic_area_start -->
    <div class="welcome_clicnic_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1"><br><br><br><br><br><br>
                            <img src="../static/image/1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        <h3 style="font-size: 60px;">Welcome To <br>
                            <span>Modern Clinic.</span></h3>
                        <p style="color: aliceblue; 
                        font-size: 5px;">Lorem ipsum dolor si60amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni.</p>
                        <ul>
                            <li style="font-size:medium;"> <i class="flaticon-verified"></i> Lorem ipsum dolor sit amet </li>
                            <li style="font-size:medium;"> <i class="flaticon-verified"></i> Consectetur adipisicing elit, sed do</li>
                            <li style="font-size:medium;"><i class="flaticon-verified"></i> Eiusmod tempor incididunt ut labore </li>
                        </ul><br>
                        <a class="btn btn-light" role="button"  href="/about" style="font-weight: bold; border: 1px solid rgb(104, 104, 162); background-color: rgb(115, 115, 205); font-size: 25px; color: aliceblue;">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br><br><br>

    <div class="section best-deal">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="section-heading">
                
                <h2 style="font-weight: bolder; font-size: 40px; padding-left: 100px;" >Find Your Best Doctor Right Now!</h2>
              </div>
            </div>
            <div class="col-lg-12" >
              <div class="tabs-content">
                <div class="row">
                  <div class="nav-wrapper ">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab" data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment" aria-selected="true" 
                        style="margin-left: 900px; margin-bottom: 59px; background-color:rgb(104, 104, 162);" >Neurologist</button>
                      </li><br>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false"
                        style="background-color: black;color: white;;margin-left: 20px;">Cardiologist </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab"
                         data-bs-target="#penthouse" type="button" role="tab" aria-controls="penthouse" aria-selected="false"
                         style="background-color: black;color: white;;margin-left: 20px;">Orthopedic</button>
                      </li>
                    </ul>
                  </div>             
                  <div class="tab-content" id="myTabContent" >
                    <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="info-table">
                            <ul style="color: gray;">
                              Name <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Jhon Smith</span><br><br><br>
                              Age<span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">35</span><br><br><br>
                              Specalist <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Neurologist</span><br><br><br>
                              Location <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Mangalore</span><br><br><br>
                              Phone number<span style="color: black;font-weight: bolder;margin-left: 15px;font-size: 25px;">8956256270</span><br><br><br>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <img src="../static/image/1.png" alt="">
                        </div>
                        <div class="col-lg-3"><br>
                          <h4>All Info About Neurologist</h4><br>
                          <p>A neurologist is a medical doctor who specializes in the diagnosis, treatment, and management of disorders related to 
                            the nervous system, which includes the brain, spinal cord, nerves, and muscles. <br><br>Swag fanny pack lyft blog twee. JOMO ethical copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie hella venmo after messenger poutine next level humblebrag swag franzen.</p>
                          <div class="icon-button">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="info-table">
                            <ul style="color: gray;">
                              Name <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Shiv Kumar</span><br><br><br>
                              Age<span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">38</span><br><br><br>
                              Specalist<span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Cardiologist</span><br><br><br>
                              Location <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Bangalore</span><br><br><br>
                              Phone number<span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">786698120</span><br><br><br>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <img src="../static/image/2.png" alt="">
                        </div>
                        <div class="col-lg-3"><br>
                          <h4>Detail Info About New Cardiologist</h4><br>
                          <p>
                            A cardiologist is a medical doctor who specializes in diagnosing, treating, and preventing diseases and conditions related to the heart and blood vessels . <br><br>Swag fanny pack lyft blog twee. JOMO ethical copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie hella venmo after messenger poutine next level humblebrag swag franzen.</p>
                          <div class="icon-button">
                         
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="info-table">
                            <ul style="color: gray;">
                              Name <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Allen</span><br><br><br>
                              Age <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">60</span><br><br><br>
                              Specalist<span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Orthopadic</span><br><br><br>
                              Location <span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">Mangalore</span><br><br><br>
                              Phone number<span style="color: black; font-weight: bolder;margin-left: 15px;font-size: 25px;">725900372</span><br><br><br>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <img src="../static/image/3.png" alt="">
                        </div>
                        <div class="col-lg-3"><br>
                          <h4>Extra Info About Orthopadic</h4><br>
                          <p>Orthopedic surgeons treat musculoskeletal system problems, including fractures, joint replacements, sports injuries, and spine issues. They may perform surgeries such as joint replacements or repairs of broken bones.
                              <br><br>Swag fanny pack lyft blog twee. JOMO ethical copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie hella venmo after messenger poutine next level humblebrag swag franzen.</p>
                          <div class="icon-button">
                        
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br><br><br>
    
        <!-- quality_area_start  -->
        <div class="quality_area">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-lg-6">
                        <div class="section_title mb-55 text-center">
                            <h3 style="font-size: 50px; font-weight: bolder;">Quality Health</h3><br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_quality">
                            <div class="icon" style="border: 2px solid white; height: 200px; width: 200px;background-image: url(../static/image/image.png) ;background-size: 200px; " >
                                
                            </div><br><br>
                            <h2 style="font-weight: bolder;">Health Consultation</h2><br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_quality">
                            <div class="icon" style="border: 2px solid white; height: 200px; width: 200px;background-image: url(../static/image.png) ;background-size: 200px; " >
                                
                            </div><br><br>
                            <h2 style="font-weight: bolder;">Find Health</h2><br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_quality">
                          <div class="icon" style="border: 2px solid white; height: 200px; width: 200px;background-image: url(../static/image/Male_Doctor-1024.webp) ;background-size: 200px; " >
                                
                          </div><br><br>
                            <h2 style="font-weight: bolder;">Search Deoctor</h2><br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<br><br><br><br>
        <footer class="footer-no-gap">
            <div class="container">
              <div class="col-lg-10" style="background-color: rgb(31, 30, 30); width: 1520px; height: 70px;  margin-left: -110px;">
                <p style="color: white; padding-left: 500px;padding-top: 20px;font-size: larger;">Copyright © 2024 Medi Co., Ltd. All rights reserved. 
                </p>
              </div>
            </div>
          </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
  </html>
